{{ $page := . }}
<header class="site-header pt4 pb2 mb4 bb b--transparent ph5 headroom z-max" role="banner">
  <nav class="site-nav db dt-l w-100" role="navigation">
    <a class="site-brand db dtc-l v-mid link no-underline w-100 w-33-l tc tl-l" href="{{ .Site.BaseURL }}" title="Home">
      <i class="fas fa-home fa-2x"></i>
    </a>
    <div class="site-links db dtc-l v-mid w-100 w-47-l tc tr-l mt3 mt0-l {{ if $.Site.Params.navallcaps }}ttu tracked{{ end }}">
      {{ range .Site.Menus.header }}
        {{ if not .Parent }}
          {{ $active := or ($page.IsMenuCurrent "header" .) ($page.HasMenuCurrent "header" .) }}
          {{ $active = or $active (eq $page.Section (trim .URL "/")) }}
          {{ $active = or $active (eq $page.RelPermalink .URL ) }}
          {{ if .HasChildren }}
            <div class="dropdown dib">
              <a class="link f6 f5-l dib pv1 ph2 {{ if $active }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }} ▾</a>
              <div class="dropdown-menu">
                {{ range .Children }}
                  <a class="dropdown-item db link pv2 ph3" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <a class="link f6 f5-l dib pv1 ph2 {{ if $active }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if .Site.Params.socialInHeader }}
      <div class="dib v-mid">
        {{ partial "shared/social-links.html" . }}
      </div>
      {{ end }}
    </div>
  </nav>
</header>
