{{- $dataFile := .Get 0 -}}
{{- $schedule := index .Site.Data.courses $dataFile -}}

<table>
  <colgroup>
    <col style="width: 8%;">
    <col style="width: 16%;">
    <col style="width: 50%;">
    <col style="width: 10%;">
    <col style="width: 16%;">
  </colgroup>
  <thead>
    <tr>
      <th>Date</th>
      <th>Topic / Speaker</th>
      <th>Readings & handouts</th>
      <th>Slides</th>
      <th>Assignment</th>
    </tr>
  </thead>
  <tbody>
    {{- range $schedule.schedule -}}
    <tr>
      <td>{{ if .anchor }}<a name="{{ .anchor }}"></a>{{ end }}{{ .date }}</td>
      <td>
        {{ .topic | markdownify }}
        {{- if .speaker -}}
          {{- if .speaker.url }} - <a href="{{ .speaker.url }}"><strong>{{ .speaker.name }}</strong></a>{{- else }} - <strong>{{ .speaker.name }}</strong>{{- end -}}
          {{- if .speaker.title }}, {{ .speaker.title }}{{- end -}}
        {{- end -}}
      </td>
      <td>
        {{- if .description }}<br>{{ .description | markdownify }}{{- end -}}
        {{- if .readings -}}
        <ul>
          {{- range .readings -}}
          {{- $reading := . -}}
          <li>
            {{- if reflect.IsMap $reading -}}
              {{- if $reading.optional -}}<strong>Optional</strong>{{- if $reading.presenter }} (presented by {{ $reading.presenter }}){{- end -}}:{{- end }}{{- if $reading.extra_credit -}}<strong>Extra Credit</strong>:{{- end }} {{- if $reading.note -}}<em>{{ $reading.note }}</em>:{{- end }} {{ $reading.text | markdownify }}
            {{- else -}}
              {{ $reading | markdownify }}
            {{- end -}}
          </li>
          {{- end -}}
        </ul>
        {{- end -}}
      </td>
      <td>
        {{- if .slides -}}
          {{- if .slides.pptx -}}<a href="{{ .slides.pptx }}" title="PowerPoint"><i class="fas fa-file-powerpoint fa-lg"></i></a>{{- end -}}
          {{- if .slides.pptx -}}{{- if .slides.pdf }} {{ end -}}{{- end -}}
          {{- if .slides.pdf -}}<a href="{{ .slides.pdf }}" title="PDF"><i class="fas fa-file-pdf fa-lg"></i></a>{{- end -}}
        {{- end -}}
      </td>
      <td>
        {{- if .assignment -}}
          <a href="{{ .assignment.pdf }}">{{ .assignment.name }}</a><br>
          <em>Due: {{ .assignment.due }}</em>
        {{- end -}}
      </td>
    </tr>
    {{- end -}}
  </tbody>
</table>
